
<div class="show-info">
<h1 class="align-title">Parcel with info
</h1>
<div class="card">
  <div class="card__title"><%= @parcel.title %></div>
  <div class="card__body">

    <div class="owner">Owner:  
      <%= @parcel.first_name + ' ' + @parcel.last_name + ' ' + @parcel.middle_name %>
    </div>
    <div>
      Email: 
    <%= @parcel.email %>
    </div>
    <div>
      Destination: 
    <%= @parcel.destination %>
    </div>
    <div>
      Origin:  
    <%= @parcel.origin %>
    </div>
    <div>
      Phone: 
    <%= @parcel.phone %>
    </div>
    <div class='volume'>
      <div class="volume-field">
      Weight: <%= @parcel.weight %>kg
      </div>
      <div class="volume-field">
      Length: <%= @parcel.length %>m
      </div>
      <div class="volume-field">
      Height: <%= @parcel.height %>m
      </div>
      <div class="volume-field">
      Width: <%= @parcel.width %>m
      </div>
    </div>

  </div>
  <div class="card__footer">
    <div class="card__footer-item">
    <%= time_tag @parcel.created_at, "data-local":  "time-ago" %> 
    </div>
    <div class="card__footer-item">
      Price:  <%= @parcel.price %> <span class="sub">rub</span>
    </div>
    <div class="card__footer-item">
      Distance:  <%= @parcel.distance %> <span class="sub">km</span>
    </div>
    <%= link_to 'Back', parcels_path, class:  'create-button card__footer--button-m'%>
  </div>
</div>
</div>
